html, body, .container, #sidebar, #mapContainer {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
}

#sidebar {
  background: gray;
  width: 320px;
  }

h1 {
  font-size: 20px;
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

p {
  font-size: 16px;
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
}

#mapContainer {
  flex-grow: 1;
}
